<html>
<head>
<!-internal styling-->
<style>
body
h1{color:#4B0082}
button{color:Green}
</style>
<!-External styling-->
<link rel="stylesheet"href="pooja.css">
</head>
<body>
<center><b><h1>TELECOM CUSTOMER CHURN PREDICTION</h1></b></center>
<p><h3>Customer churn has become highly important for companies because of excreasing competition among companies.increased importance of marketing strategies and conscious behaviour of customers in the recent years. Customers caneasily trend toward altenative services. Comparses must develop various strategies to prevent these possible wends,depending on the services they provide. During the estimation of possible charms, data from the previous chums might besed. An efficient churn predictive model benefits companies in many ways. Early identification of customers likely to leave may help to build cost effective ways in marketing strategies. Customer retention campaigns might be limited to selectedcustomers but it should cover most of the customer incorrect predictions could result in a company losing profits because of the discounts offered to continuous subscribers.<h3></p>
<img src="C:\Users\ELCOT\Pictures\\OneDrive\Downloads\8999b056-fe70-4026-9d6c-74f7fec2d3fe.jpg" width="700"/>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="index.html"><button> <h2>click me to continue with prediction</h2></button></a>
</body>
</html>