<html>
<head>
<title>predyes</title>
<style>
body
h1{color:#4B0082}
h2{color:#4B0082}
</style>
<body>
<center><b><h1>Telecom Customer Churn Prediction</h1></b></center>
<center><img src="C:\Users\ELCOT\Pictures\OneDrive\Downloads\yes.jpg" width="500"/></center>
<center><p><b><h2>The Churn Prediction Says <u>Yes</u></h2></b></p></center>
<!--Jquery JS-->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"type="text/javasript"></script>
<!--vendor JS-->
<script src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"type="text/javasript"></script>
<!--Main JS-->
<script src="{{ url_for('static',filename='js/global.js')}}"type="text/javasript"></script>
</body>
</html>